/* Not sorted yet */
.animated {
  transition: all 0.8s;
}
.full-height {
  min-height: calc(100vh - 38px);
  padding-bottom: 50px;
  overflow-y: scroll;
}
.fixed {
  position: fixed;
  z-index: 99999;
}
.mt {
  margin-top: 64px;
}
.pt {
  padding-top: 64px;
}
.no-margin {
  margin: 0;
}
.disable-link {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.6;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.shadow {
  box-shadow: 0 5px 38px rgba(0, 0, 0, 0.3), 2px 5px 12px rgba(0, 0, 0, 0.3);
}
.empty {
  text-align: center;
  color: #a3a3a3;
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.89) !important;
  overflow: hidden;
  z-index: 999999;
}
.scale-down {
  transform: scale(0);
}
.fade-out {
  pointer-events: none;
  opacity: 0;
}
.scroll-up {
  top: -100px !important;
}
.scroll-down {
  bottom: -100px !important;
}

/* WIDTH */
.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}
